<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Distribuidora Un Mundo de Belleza</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <meta name="description" content="Maquillaje, Tintes, Tratamientos Capilares, Keratinas, Accesorios de Uñas y más... Distribuidora Un Mundo de Belleza" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="Catálogo - Distribuidora Un Mundo de Belleza" />
    <meta property="og:description" content="Maquillaje, Tintes, Tratamientos Capilares, Keratinas, Accesorios de Uñas y más..." />
    <meta property="og:image" content="https://recibosypagos.co/media/filer_public/04/17/041728cf-ff17-4fd2-8674-0f5ac0de5eaf/logo.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KEGBNY9Z9E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KEGBNY9Z9E');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
